<script type="text/javascript">
jQuery(document).ready(function(){ 
	jQuery.hotkeys.add('command+s', { target: jQuery("#content")[0] }, function(){jQuery('button:submit').click()});
	try {
		jQuery("#content")[0].focus();
		jQuery("#name")[0].focus();
	} catch(e) {}
});
</script>
